# **AFRICAN INSTITUTE FOR MATHEMATICAL SCIENCE - RWANDA**

---
# **Big Data Analytics with Python**
## Assignment 1
## Name: Latifah AKIMANA
### <span style="color:red">Note: all datasets where shared in the classroom</span>
---

# **Part 1: Reading, Writing and Validating Data in PySpark HW**

Welcome to your first coding homework assignment in PySpark! I hope you enjoyed the lecture on Reading, Writing and Validating dataframes. Now it's time to put what you've learned into action! 

I've included several instructions below to help guide you through this homework assignment which I hope will get you feeling even comfortable reading, writing and validating dataframes. If you get stuck at any point, feel free to jump to the next lecture where I will guide you through my solutions to the HW assignment. 

Have fun!

Let's dig right in!


## But first things first.....
We need to always begin every Spark session by creating a Spark instance. Let's go ahead and use the method we learned in the lecture in the cell below. Also see if you can remember how to open the Spark UI (using a link that automatically guides you there).

In [108]:
%pip install findspark

Requirement already satisfied: findspark in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [109]:
%pip install pyspark

Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Assignment1").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/18 15:53:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/11/18 15:53:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Next let's start by reading a basic csv dataset

Download the pga_tour_historical dataset that is attached to this lecture and save it whatever folder you want, then read it in. 

**Data Source:** https://www.kaggle.com/bradklassen/pga-tour-20102018-data

Rememer to try letting Spark infer the header and infer the Schema types!

In [3]:
historical_dataframe = spark.read.csv('Datasets/pga_tour_historical.csv', inferSchema=True, header=True)

## 1. View first 5 lines of dataframe
First generate a view of the first 5 lines of the dataframe to get an idea of what is inside. We went over two ways of doing this... see if you can remember BOTH ways.

In [4]:
historical_dataframe.show(5)

+---------------+------+----------------+--------------------+-----+
|    Player Name|Season|       Statistic|            Variable|Value|
+---------------+------+----------------+--------------------+-----+
|Robert Garrigus|  2010|Driving Distance|Driving Distance ...|   71|
|   Bubba Watson|  2010|Driving Distance|Driving Distance ...|   77|
| Dustin Johnson|  2010|Driving Distance|Driving Distance ...|   83|
|Brett Wetterich|  2010|Driving Distance|Driving Distance ...|   54|
|    J.B. Holmes|  2010|Driving Distance|Driving Distance ...|  100|
+---------------+------+----------------+--------------------+-----+
only showing top 5 rows

In [5]:
# another way
historical_dataframe.limit(5).toPandas()

,Player Name,Season,Statistic,Variable,Value
0,Robert Garrigus,2010,Driving Distance,Driving Distance - (ROUNDS),71
1,Bubba Watson,2010,Driving Distance,Driving Distance - (ROUNDS),77
2,Dustin Johnson,2010,Driving Distance,Driving Distance - (ROUNDS),83
3,Brett Wetterich,2010,Driving Distance,Driving Distance - (ROUNDS),54
4,J.B. Holmes,2010,Driving Distance,Driving Distance - (ROUNDS),100

## 2. Print the schema details

Now print the details of the dataframes schema that Spark infered to ensure that it was infered correctly. Sometimes it is not infered correctly, so we need to watch out!

In [6]:
historical_dataframe.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: string (nullable = true)

## 3. Edit the schema during the read in

We can see from the output above that Spark did not correctly infer that the "value" column was an integer value. Let's try specifying the schema this time to let spark know what the schema should be.

Here is a link to see a list of PySpark data types in case you need it (also attached to the lecture): 
https://spark.apache.org/docs/latest/sql-ref-datatypes.html

In [7]:
historical_dataframe.schema['Value'].dataType

StringType()

## 4. Generate summary statistics for only one variable

See if you can generate summary statistics for only the "Value" column using the .describe function

(count, mean, stddev, min, max)

In [9]:
historical_dataframe.describe(['Value']).show()

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|           2696905|
|   mean|137053.96543856172|
| stddev| 6046342.246458627|
|    min|        $1,001,580|
|    max|   the Memorial/Mu|
+-------+------------------+

## 5. Generate summary statistics for TWO variables
Now try to generate ONLY the count min and max for BOTH the "Value" and "Season" variable using the select. You can't use the .describe function for this one but see if you can remember which function you CAN use.

In [10]:
historical_dataframe.select("Value", "Season").summary("count", "min", "max").show()

+-------+---------------+-------+
|summary|          Value| Season|
+-------+---------------+-------+
|  count|        2696905|2740403|
|    min|     $1,001,580|   2010|
|    max|the Memorial/Mu|   2018|
+-------+---------------+-------+

## 6. Write a parquet file

Now try writing a parquet file (not partitioned) from the pga dataset. But first create a new dataframe containing ONLY the the "Season" and "Value" fields (using the "select command you used in the question above) and write a parquet file partitioned by "Season". This is a bit of a challenge aimed at getting you ready for material that will be covered later on in the course. Don't feel bad if you can't figure it out.

*Note that if any of your variable names contain spaces, spark will produce an error message with this call. That is why we are selecting ONLY the "Season" and "Value" fields. Ideally we should renamed those columns but we haven't gotten to that yet in this course but we will soon!*

In [123]:
values = historical_dataframe.select("Value", "Season").collect()
data_frame = spark.createDataFrame(values)
# Writing a parquete file 
data_frame.write.mode('overwrite').parquet('parquet_not_partitioned')

25/11/15 20:09:29 WARN TaskSetManager: Stage 13 contains a task of very large size (7605 KiB). The maximum recommended task size is 1000 KiB.

## 7. Write a partioned parquet file

You will need to use the same limited dataframe that you created in the previous question to accomplish this task as well.

In [ ]:
# Writing a parquet file partitioned by Season
data_frame.write.mode('overwrite').partitionBy('Season').parquet("parquet_partitioned")

25/11/15 14:12:05 WARN TaskSetManager: Stage 12 contains a task of very large size (7605 KiB). The maximum recommended task size is 1000 KiB.

## 8. Read in a partitioned parquet file

Now try reading in the partitioned parquet file you just created above.

In [ ]:
partitioned=spark.read.parquet('partitioned')
partitioned

DataFrame[Value: string, Season: int]

## 9. Reading in a set of paritioned parquet files

Now try only reading Seasons 2010, 2011 and 2012.

In [ ]:
#path="Database"
#users1_2 = spark.read.option("basePath", path).parquet(path+'users1.parquet', path+'users2.parquet')
parquet_files = partitioned.filter(partitioned.Season.isin(2010,2011,2012))
parquet_files.show(50)

+-----+------+
|Value|Season|
+-----+------+
|   71|  2010|
|   77|  2010|
|   83|  2010|
|   54|  2010|
|  100|  2010|
|   63|  2010|
|   88|  2010|
|   64|  2010|
|   64|  2010|
|   92|  2010|
|   75|  2010|
|   54|  2010|
|   76|  2010|
|   94|  2010|
|   82|  2010|
|   85|  2010|
|   79|  2010|
|   89|  2010|
|   88|  2010|
|   91|  2010|
|   91|  2010|
|   84|  2010|
|   54|  2010|
|   73|  2010|
|   74|  2010|
|   84|  2010|
|   75|  2010|
|   88|  2010|
|   53|  2010|
|   81|  2010|
|   87|  2010|
|   55|  2010|
|   70|  2010|
|  103|  2010|
|   64|  2010|
|   91|  2010|
|   81|  2010|
|   73|  2010|
|   78|  2010|
|   61|  2010|
|   79|  2010|
|   87|  2010|
|   89|  2010|
|  101|  2010|
|   82|  2010|
|   92|  2010|
|   98|  2010|
|   58|  2010|
|   84|  2010|
|   66|  2010|
+-----+------+
only showing top 50 rows

## 10. Create your own dataframe

Try creating your own dataframe below using PySparks *.createDataFrame* function. See if you can make one that contains 4 variables and at least 3 rows. 

Let's see how creative you can get on the content of the dataframe :)

In [11]:
data =[("Latifah", 25,"Rwanda","Engineer"),
       ("Winny", 29,"Kenya","Doctor"),
       ("Allen", 28,"Rwanda","Artist"),
       ("Ken", 35,"uganda","Designer"),
       ("Simon", 30,"Nigeria","Project Manager"),
]
df = spark.createDataFrame(data, ["Name", "Age", "Country", "Occupation"])
df.show()

+-------+---+-------+---------------+
|   Name|Age|Country|     Occupation|
+-------+---+-------+---------------+
|Latifah| 25| Rwanda|       Engineer|
|  Winny| 29|  Kenya|         Doctor|
|  Allen| 28| Rwanda|         Artist|
|    Ken| 35| uganda|       Designer|
|  Simon| 30|Nigeria|Project Manager|
+-------+---+-------+---------------+

In [125]:
spark.stop()

# **Part 2: Manipulating Data in DataFrames HW**


#### Let's get started applying what we learned in the lecure!

I've provided several questions below to help test and expand you knowledge from the code along lecture. So let's see what you've got!

First create your spark instance as we need to do at the start of every project.

In [126]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Part2").getOrCreate()
spark

## Read in our Republican vs. Democrats Tweet DataFrame

Attached to the lecture

In [127]:
repub_demo_df = spark.read.csv('Datasets/Rep_vs_Dem_tweets.csv', inferSchema=True, header=True )

## About this dataframe

Extracted tweets from all of the representatives (latest 200 as of May 17th 2018)

**Source:** https://www.kaggle.com/kapastor/democratvsrepublicantweets#ExtractedTweets.csv

Use either .show() or .toPandas() check out the first view rows of the dataframe to get an idea of what we are working with.

In [128]:
repub_demo_df.toPandas()

,Party,Handle,Tweet
0,Democrat,RepDarrenSoto,"Today, Senate Dems vote to #SaveTheInternet. P..."
1,Democrat,RepDarrenSoto,RT @WinterHavenSun: Winter Haven resident / Al...
2,Democrat,RepDarrenSoto,RT @NBCLatino: .@RepDarrenSoto noted that Hurr...
3,"Congress has allocated about $18‚Ä¶""",None,None
4,Democrat,RepDarrenSoto,RT @NALCABPolicy: Meeting with @RepDarrenSoto ...
...,...,...,...
92484,Republican,RepTomPrice,Check out my op-ed on need for End Executive O...
92485,Republican,RepTomPrice,"Yesterday, Betty &amp; I had a great time lear..."
92486,Republican,RepTomPrice,We are forever grateful for the service and sa...
92487,Republican,RepTomPrice,Happy first day of school @CobbSchools! #CobbB...
92488,Republican,RepTomPrice,#Zika fears realized in Florida. House GOP act...

In [129]:
repub_demo_df.show()

+--------------------+-------------+--------------------+
|               Party|       Handle|               Tweet|
+--------------------+-------------+--------------------+
|            Democrat|RepDarrenSoto|Today, Senate Dem...|
|            Democrat|RepDarrenSoto|RT @WinterHavenSu...|
|            Democrat|RepDarrenSoto|RT @NBCLatino: .@...|
|Congress has allo...|         NULL|                NULL|
|            Democrat|RepDarrenSoto|RT @NALCABPolicy:...|
|            Democrat|RepDarrenSoto|RT @Vegalteno: Hu...|
|            Democrat|RepDarrenSoto|RT @EmgageActionF...|
|            Democrat|RepDarrenSoto|Hurricane Maria l...|
|            Democrat|RepDarrenSoto|RT @Tharryry: I a...|
|            Democrat|RepDarrenSoto|RT @HispanicCaucu...|
|            Democrat|RepDarrenSoto|RT @RepStephMurph...|
|            Democrat|RepDarrenSoto|RT @AllSaints_FL:...|
|            Democrat|RepDarrenSoto|.@realDonaldTrump...|
|            Democrat|RepDarrenSoto|Thank you to my m...|
|            Democrat|RepDarrenSoto|We paid our respe...|
|Sgt Sam Howard - ...|         NULL|                NULL|
|            Democrat|RepDarrenSoto|RT @WinterHavenSu...|
|            Democrat|RepDarrenSoto|Meet 12 incredibl...|
|            Democrat|RepDarrenSoto|RT @wildlifeactio...|
|            Democrat|RepDarrenSoto|RT @CHeathWFTV: K...|
+--------------------+-------------+--------------------+
only showing top 20 rows

**Prevent Truncation of view**

If the view you produced above truncated some of the longer tweets, see if you can prevent that so you can read the whole tweet.

In [130]:
repub_demo_df.show(truncate=False)

+----------------------------------------------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Party                                               |Handle       |Tweet                                                                                                                                       |
+----------------------------------------------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Democrat                                            |RepDarrenSoto|Today, Senate Dems vote to #SaveTheInternet. Proud to support similar #NetNeutrality legislation here in the House‚Ä¶ https://t.co/n3tggDLU1L |
|Democrat                                            |RepDarrenSoto|RT @WinterHavenSun: Winter Haven resident / Alta Vista teacher is one of several recognized by @RepDarrenSoto for National Teacher Apprecia‚Ä¶|
|Democrat                                            |RepDarrenSoto|RT @NBCLatino: .@RepDarrenSoto noted that Hurricane Maria has left approximately $90 billion in damages.                                    |
|Congress has allocated about $18‚Ä¶"                  |NULL         |NULL                                                                                                                                        |
|Democrat                                            |RepDarrenSoto|RT @NALCABPolicy: Meeting with @RepDarrenSoto . Thanks for taking the time to meet with @LatinoLeader ED Marucci Guzman. #NALCABPolicy2018.‚Ä¶|
|Democrat                                            |RepDarrenSoto|RT @Vegalteno: Hurricane season starts on June 1st; Puerto Rico‚Äôs readiness...well ü§¶üèº‚Äç‚ôÇÔ∏èüò°üò©@Pwr4PuertoRico @RepDarrenSoto @EspaillatNY   |
|Democrat                                            |RepDarrenSoto|RT @EmgageActionFL: Thank you to all who came out to our Orlando gala! It was a successful night that would not have been possible without‚Ä¶ |
|Democrat                                            |RepDarrenSoto|Hurricane Maria left approx $90 billion in damages, yet only $1 billion was allocated for rebuilding grid. No surpr‚Ä¶ https://t.co/2kU8BcKwUh|
|Democrat                                            |RepDarrenSoto|RT @Tharryry: I am delighted that @RepDarrenSoto will be voting for the CRA to overrule the FCC and save our #NetNeutrality rules. Find out‚Ä¶|
|Democrat                                            |RepDarrenSoto|RT @HispanicCaucus: Trump's anti-immigrant policies are hurting small businesses across the country that can‚Äôt find Americans willing to do‚Ä¶|
|Democrat                                            |RepDarrenSoto|RT @RepStephMurphy: Great joining @WeAreUnidosUS and @RepDarrenSoto for a roundtable in #Orlando on federal issues affecting central Florid‚Ä¶|
|Democrat                                            |RepDarrenSoto|RT @AllSaints_FL: Zhihan (John)'s art received awards at this year's state competitions. We just found out he's won the Congressional Distr‚Ä¶|
|Democrat                                            |RepDarrenSoto|.@realDonaldTrump official policy to separate immigrant children from their mothers is definition of cruelty‚Ä¶ https://t.co/jCrURA4oLz       |
|Democrat                                            |RepDarrenSoto|Thank you to my mom Jean and all the mothers across this nation! You are raising our future. Have a‚Ä¶ https://t.co/MXES0r31VH                |
|Democrat                                            |RepDarrenSoto|We paid our respects at Nat‚Äôl Law Enforcement Officers Memorial today for those we lost:                                                    |
|Sgt Sam Howard - Kissimmee‚Ä¶ https://t.co/UzPxIVBMYW"|NULL         |NULL                                                                                                                                        |
|Democrat                                            |RepDarrenSoto|RT @WinterHavenSun: Congratulations to  @AHSbloodhounds senior Abygayle Rausch for starting her service to the country at the US Naval Acad‚Ä¶|
|Democrat                                            |RepDarrenSoto|Meet 12 incredible young leaders appointed to US Military Academies from our District! @HispanicCaucus‚Ä¶ https://t.co/lND3zgvJ55             |
|Democrat                                            |RepDarrenSoto|RT @wildlifeaction: With 1/3 of US wildlife in decline, Florida species like the snowy plover need advocates! As co-sponsors for the Recove‚Ä¶|
|Democrat                                            |RepDarrenSoto|RT @CHeathWFTV: Keeping guns out of the wrong hands: following @WFTV report, @RepDarrenSoto asks ATF to look into so-called ghost guns (fir‚Ä¶|
+----------------------------------------------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

**Print Schema**

First, check the schema to make sure the datatypes are accurate.

In [131]:
repub_demo_df.printSchema()

root
 |-- Party: string (nullable = true)
 |-- Handle: string (nullable = true)
 |-- Tweet: string (nullable = true)

## 1. Can you identify any tweet that mentions the handle @LatinoLeader using regexp_extract?

It doesn't matter how you identify the row, any identifier will do. You can test your script on row 5 from this dataset. That row contains @LatinoLeader.

In [132]:
from pyspark.sql.functions import regexp_extract
pattern = r"@LatinoLeader"
df_with_pattern = repub_demo_df.withColumn("Tweet", regexp_extract("Tweet", pattern, 0))
df_with_pattern.show(truncate=False)

+----------------------------------------------------+-------------+-------------+
|Party                                               |Handle       |Tweet        |
+----------------------------------------------------+-------------+-------------+
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Congress has allocated about $18‚Ä¶"                  |NULL         |NULL         |
|Democrat                                            |RepDarrenSoto|@LatinoLeader|
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Sgt Sam Howard - Kissimmee‚Ä¶ https://t.co/UzPxIVBMYW"|NULL         |NULL         |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
|Democrat                                            |RepDarrenSoto|             |
+----------------------------------------------------+-------------+-------------+
only showing top 20 rows

## 2. Replace any value other than 'Democrate' or 'Republican' with 'Other' in the Party column.

We can see from the output below, that there are several other values other than 'Democrate' or 'Republican' in the Part column. We are assuming that this is dirty data that needs to be cleaned up.

In [135]:

from pyspark.sql.functions import when

repub_demo_df = repub_demo_df.withColumn("Party", when(repub_demo_df.Party=="Democrat", 'Democrat').when(repub_demo_df.Party == "Republican", "Republican").otherwise('Other'))
repub_demo_df.show(truncate=False)

+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Party   |Handle       |Tweet                                                                                                                                       |
+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Democrat|RepDarrenSoto|Today, Senate Dems vote to #SaveTheInternet. Proud to support similar #NetNeutrality legislation here in the House‚Ä¶ https://t.co/n3tggDLU1L |
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Winter Haven resident / Alta Vista teacher is one of several recognized by @RepDarrenSoto for National Teacher Apprecia‚Ä¶|
|Democrat|RepDarrenSoto|RT @NBCLatino: .@RepDarrenSoto noted that Hurricane Maria has left approximately $90 billion in damages.                                    |
|Other   |NULL         |NULL                                                                                                                                        |
|Democrat|RepDarrenSoto|RT @NALCABPolicy: Meeting with @RepDarrenSoto . Thanks for taking the time to meet with @LatinoLeader ED Marucci Guzman. #NALCABPolicy2018.‚Ä¶|
|Democrat|RepDarrenSoto|RT @Vegalteno: Hurricane season starts on June 1st; Puerto Rico‚Äôs readiness...well ü§¶üèº‚Äç‚ôÇÔ∏èüò°üò©@Pwr4PuertoRico @RepDarrenSoto @EspaillatNY   |
|Democrat|RepDarrenSoto|RT @EmgageActionFL: Thank you to all who came out to our Orlando gala! It was a successful night that would not have been possible without‚Ä¶ |
|Democrat|RepDarrenSoto|Hurricane Maria left approx $90 billion in damages, yet only $1 billion was allocated for rebuilding grid. No surpr‚Ä¶ https://t.co/2kU8BcKwUh|
|Democrat|RepDarrenSoto|RT @Tharryry: I am delighted that @RepDarrenSoto will be voting for the CRA to overrule the FCC and save our #NetNeutrality rules. Find out‚Ä¶|
|Democrat|RepDarrenSoto|RT @HispanicCaucus: Trump's anti-immigrant policies are hurting small businesses across the country that can‚Äôt find Americans willing to do‚Ä¶|
|Democrat|RepDarrenSoto|RT @RepStephMurphy: Great joining @WeAreUnidosUS and @RepDarrenSoto for a roundtable in #Orlando on federal issues affecting central Florid‚Ä¶|
|Democrat|RepDarrenSoto|RT @AllSaints_FL: Zhihan (John)'s art received awards at this year's state competitions. We just found out he's won the Congressional Distr‚Ä¶|
|Democrat|RepDarrenSoto|.@realDonaldTrump official policy to separate immigrant children from their mothers is definition of cruelty‚Ä¶ https://t.co/jCrURA4oLz       |
|Democrat|RepDarrenSoto|Thank you to my mom Jean and all the mothers across this nation! You are raising our future. Have a‚Ä¶ https://t.co/MXES0r31VH                |
|Democrat|RepDarrenSoto|We paid our respects at Nat‚Äôl Law Enforcement Officers Memorial today for those we lost:                                                    |
|Other   |NULL         |NULL                                                                                                                                        |
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Congratulations to  @AHSbloodhounds senior Abygayle Rausch for starting her service to the country at the US Naval Acad‚Ä¶|
|Democrat|RepDarrenSoto|Meet 12 incredible young leaders appointed to US Military Academies from our District! @HispanicCaucus‚Ä¶ https://t.co/lND3zgvJ55             |
|Democrat|RepDarrenSoto|RT @wildlifeaction: With 1/3 of US wildlife in decline, Florida species like the snowy plover need advocates! As co-sponsors for the Recove‚Ä¶|
|Democrat|RepDarrenSoto|RT @CHeathWFTV: Keeping guns out of the wrong hands: following @WFTV report, @RepDarrenSoto asks ATF to look into so-called ghost guns (fir‚Ä¶|
+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

## 3. Delete all embedded links (ie. "https:....)

For example see the first row in the tweets dataframe. 

*Note: this may require an google search :)*

In [136]:
from pyspark.sql.functions import regexp_replace
link_pattern = r"https?://\S+"
repub_demo_df = repub_demo_df.withColumn("Tweet", regexp_replace(repub_demo_df.Tweet, link_pattern, ""))
repub_demo_df.show(truncate=False)

+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Party   |Handle       |Tweet                                                                                                                                       |
+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Democrat|RepDarrenSoto|Today, Senate Dems vote to #SaveTheInternet. Proud to support similar #NetNeutrality legislation here in the House‚Ä¶                         |
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Winter Haven resident / Alta Vista teacher is one of several recognized by @RepDarrenSoto for National Teacher Apprecia‚Ä¶|
|Democrat|RepDarrenSoto|RT @NBCLatino: .@RepDarrenSoto noted that Hurricane Maria has left approximately $90 billion in damages.                                    |
|Other   |NULL         |NULL                                                                                                                                        |
|Democrat|RepDarrenSoto|RT @NALCABPolicy: Meeting with @RepDarrenSoto . Thanks for taking the time to meet with @LatinoLeader ED Marucci Guzman. #NALCABPolicy2018.‚Ä¶|
|Democrat|RepDarrenSoto|RT @Vegalteno: Hurricane season starts on June 1st; Puerto Rico‚Äôs readiness...well ü§¶üèº‚Äç‚ôÇÔ∏èüò°üò©@Pwr4PuertoRico @RepDarrenSoto @EspaillatNY   |
|Democrat|RepDarrenSoto|RT @EmgageActionFL: Thank you to all who came out to our Orlando gala! It was a successful night that would not have been possible without‚Ä¶ |
|Democrat|RepDarrenSoto|Hurricane Maria left approx $90 billion in damages, yet only $1 billion was allocated for rebuilding grid. No surpr‚Ä¶                        |
|Democrat|RepDarrenSoto|RT @Tharryry: I am delighted that @RepDarrenSoto will be voting for the CRA to overrule the FCC and save our #NetNeutrality rules. Find out‚Ä¶|
|Democrat|RepDarrenSoto|RT @HispanicCaucus: Trump's anti-immigrant policies are hurting small businesses across the country that can‚Äôt find Americans willing to do‚Ä¶|
|Democrat|RepDarrenSoto|RT @RepStephMurphy: Great joining @WeAreUnidosUS and @RepDarrenSoto for a roundtable in #Orlando on federal issues affecting central Florid‚Ä¶|
|Democrat|RepDarrenSoto|RT @AllSaints_FL: Zhihan (John)'s art received awards at this year's state competitions. We just found out he's won the Congressional Distr‚Ä¶|
|Democrat|RepDarrenSoto|.@realDonaldTrump official policy to separate immigrant children from their mothers is definition of cruelty‚Ä¶                               |
|Democrat|RepDarrenSoto|Thank you to my mom Jean and all the mothers across this nation! You are raising our future. Have a‚Ä¶                                        |
|Democrat|RepDarrenSoto|We paid our respects at Nat‚Äôl Law Enforcement Officers Memorial today for those we lost:                                                    |
|Other   |NULL         |NULL                                                                                                                                        |
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Congratulations to  @AHSbloodhounds senior Abygayle Rausch for starting her service to the country at the US Naval Acad‚Ä¶|
|Democrat|RepDarrenSoto|Meet 12 incredible young leaders appointed to US Military Academies from our District! @HispanicCaucus‚Ä¶                                     |
|Democrat|RepDarrenSoto|RT @wildlifeaction: With 1/3 of US wildlife in decline, Florida species like the snowy plover need advocates! As co-sponsors for the Recove‚Ä¶|
|Democrat|RepDarrenSoto|RT @CHeathWFTV: Keeping guns out of the wrong hands: following @WFTV report, @RepDarrenSoto asks ATF to look into so-called ghost guns (fir‚Ä¶|
+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

## 4. Remove any leading or trailing white space in the tweet column

In [137]:
from pyspark.sql.functions import trim
repub_demo_df = repub_demo_df.withColumn('Tweet', trim(repub_demo_df.Tweet))
repub_demo_df.show(50, truncate=False)

+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Party   |Handle       |Tweet                                                                                                                                       |
+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|Democrat|RepDarrenSoto|Today, Senate Dems vote to #SaveTheInternet. Proud to support similar #NetNeutrality legislation here in the House‚Ä¶                         |
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Winter Haven resident / Alta Vista teacher is one of several recognized by @RepDarrenSoto for National Teacher Apprecia‚Ä¶|
|Democrat|RepDarrenSoto|RT @NBCLatino: .@RepDarrenSoto noted that Hurricane Maria has left approximately $90 billion in damages.                                    |
|Other   |NULL         |NULL                                                                                                                                        |
|Democrat|RepDarrenSoto|RT @NALCABPolicy: Meeting with @RepDarrenSoto . Thanks for taking the time to meet with @LatinoLeader ED Marucci Guzman. #NALCABPolicy2018.‚Ä¶|
|Democrat|RepDarrenSoto|RT @Vegalteno: Hurricane season starts on June 1st; Puerto Rico‚Äôs readiness...well ü§¶üèº‚Äç‚ôÇÔ∏èüò°üò©@Pwr4PuertoRico @RepDarrenSoto @EspaillatNY   |
|Democrat|RepDarrenSoto|RT @EmgageActionFL: Thank you to all who came out to our Orlando gala! It was a successful night that would not have been possible without‚Ä¶ |
|Democrat|RepDarrenSoto|Hurricane Maria left approx $90 billion in damages, yet only $1 billion was allocated for rebuilding grid. No surpr‚Ä¶                        |
|Democrat|RepDarrenSoto|RT @Tharryry: I am delighted that @RepDarrenSoto will be voting for the CRA to overrule the FCC and save our #NetNeutrality rules. Find out‚Ä¶|
|Democrat|RepDarrenSoto|RT @HispanicCaucus: Trump's anti-immigrant policies are hurting small businesses across the country that can‚Äôt find Americans willing to do‚Ä¶|
|Democrat|RepDarrenSoto|RT @RepStephMurphy: Great joining @WeAreUnidosUS and @RepDarrenSoto for a roundtable in #Orlando on federal issues affecting central Florid‚Ä¶|
|Democrat|RepDarrenSoto|RT @AllSaints_FL: Zhihan (John)'s art received awards at this year's state competitions. We just found out he's won the Congressional Distr‚Ä¶|
|Democrat|RepDarrenSoto|.@realDonaldTrump official policy to separate immigrant children from their mothers is definition of cruelty‚Ä¶                               |
|Democrat|RepDarrenSoto|Thank you to my mom Jean and all the mothers across this nation! You are raising our future. Have a‚Ä¶                                        |
|Democrat|RepDarrenSoto|We paid our respects at Nat‚Äôl Law Enforcement Officers Memorial today for those we lost:                                                    |
|Other   |NULL         |NULL                                                                                                                                        |
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Congratulations to  @AHSbloodhounds senior Abygayle Rausch for starting her service to the country at the US Naval Acad‚Ä¶|
|Democrat|RepDarrenSoto|Meet 12 incredible young leaders appointed to US Military Academies from our District! @HispanicCaucus‚Ä¶                                     |
|Democrat|RepDarrenSoto|RT @wildlifeaction: With 1/3 of US wildlife in decline, Florida species like the snowy plover need advocates! As co-sponsors for the Recove‚Ä¶|
|Democrat|RepDarrenSoto|RT @CHeathWFTV: Keeping guns out of the wrong hands: following @WFTV report, @RepDarrenSoto asks ATF to look into so-called ghost guns (fir‚Ä¶|
|Democrat|RepDarrenSoto|RT @GermieNYC: TY, @RepDarrenSoto for calling for the #HFAnow to ensure workers have access to #paidsickdays no matter where they live or w‚Ä¶|
|Democrat|RepDarrenSoto|Behind every successful student, there's a proud community of family &amp; teachers. Great to meet with @OCPSnews Avalo‚Ä¶                    |
|Democrat|RepDarrenSoto|RT @HeardontheHill: .@RepDarrenSoto recalled playing music at the Dems caucus retreat with @repjoecrowley                                   |
|Democrat|RepDarrenSoto|RT @NathanHale7476: Got to meet @RepDarrenSoto today.  #classroomwhereithappens @MrBettsClass @AvalonElem_OCPS @Gilder_Lehrman @SenBillNels‚Ä¶|
|Democrat|RepDarrenSoto|RT @WinterHavenSun: Lead story in the Polk News Sun with @RepDarrenSoto and @SenBillNelson . In November voters will decide whether to auto‚Ä¶|
|Democrat|RepDarrenSoto|#FACT: 24 percent of Americans said they didn‚Äôt fill a prescription in the previous year because of the high cost.‚Ä¶                         |
|Democrat|RepDarrenSoto|Americans deserve #ABetterDeal on the cost of prescription drugs for our seniors ‚Äî one that allows Medicare to nego‚Ä¶                        |
|Democrat|RepDarrenSoto|Thank u @BillNye for being a voice for #Science &amp; our Planet! #Sayfie @HispanicCaucus @AudubonFL @SierraClubFL‚Ä¶                         |
|Democrat|RepDarrenSoto|RT @RepRubenGallego: Public comment is a responsibility federal agencies have to the public when making critical land management decisions‚Ä¶ |
|Democrat|RepDarrenSoto|Sat down with @rollcall to discuss fellowship, getting things done in Congress, my band Orange Creek Riders &amp; hikin‚Ä¶                    |
|Democrat|RepDarrenSoto|RT @rvivian370: At the Pulse Memorial this morning representing @RepDarrenSoto. It was a beautiful ceremony honoring the victims and famili‚Ä¶|
|Democrat|RepDarrenSoto|Joined colleagues in opposition to Trump admin adding citizenship question to #2020Census. An accurate count is cri‚Ä¶                        |
|Democrat|RepDarrenSoto|RT @WFTV: .@RepDarrenSoto calls for regulatory reform of '#ghostguns' after #9Investigates' story  #wftv                                    |
|Democrat|RepDarrenSoto|Thank you to millions of bright, hardworking teachers across America who are educating our next generation of leade‚Ä¶                        |
|Democrat|RepDarrenSoto|RT @WeAreUnidosUS: Thank you @RepDarrenSoto for joining us today to discuss the devastating effects the proposed cuts to SNAP would have on‚Ä¶|
|Democrat|RepDarrenSoto|RT @NAPABA: @RepDarrenSoto ‚Äî the first Puerto Rican congressman from Florida ‚Äî brings the ‚òÄÔ∏è to @NAPABA's 2018 #APAHM Congressional Recepti‚Ä¶|
|Democrat|RepDarrenSoto|RT @romancerookie: @RepDarrenSoto @SenBillNelson @marcorubio we need to do something about this. #Insulin4all                               |
|Democrat|RepDarrenSoto|RT @WaelAlzayat: Thank you @RepDarrenSoto for being a good friend and an avid supporter of immigrant rights. #EmgagetheHill #EmgageAction h‚Ä¶|
|Democrat|RepDarrenSoto|RT @EmgageActionFL: @RepDarrenSoto addressing our team as we prepare to #Emgagethehill @emgageaction                                        |
|Democrat|RepDarrenSoto|RT @news6wkmg: .@RepDarrenSoto talks District 9 election with @JustinWarmoth on ‚ÄòThe Weekly‚Äô See the full interview here:                   |
|Democrat|RepDarrenSoto|Trump continues anti-immigrant, anti-Hispanic push by ending #TPS for 57,000 #Hondurans - Real solution is pathway‚Ä¶                         |
|Democrat|RepDarrenSoto|RT @YourBarrioFL: Thank you @Emerge_USA for hosting @repdarrensoto and myself at your‚Ä¶                                                      |
|Democrat|RepDarrenSoto|RT @ricardorossello: Tambi√©n me acompa√±√≥ en la entrega de estos 62 t√≠tulos de propiedad @TATACHARBONIER @Miguel_Romero_ @RepJorgeNavarro @V‚Ä¶|
|Democrat|RepDarrenSoto|RT @SenBillNelson: Got a firsthand look at the Ca√±o Mart√≠n Pe√±a Ecosystem Restoration Project in Puerto Rico today. This project is designe‚Ä¶|
|Democrat|RepDarrenSoto|RT @garywhite13: Signed by @RepDennisRoss &amp; @RepDarrenSoto but not @TomRooney.                                                          |
|Democrat|RepDarrenSoto|It‚Äôs with heavy heart that we mourn loss of Maria Santiago-Burgos, a Puerto Rican survivor of #HurricaneMaria  This‚Ä¶                        |
|Democrat|RepDarrenSoto|RT @garywhite13: @SenBillNelson, @RepDarrenSoto discuss restoration of voting rights for felons, census questions during town hall in Haine‚Ä¶|
|Democrat|RepDarrenSoto|RT @SenBillNelson: Had a good discussion tonight in Haines City with @RepRichmond and @RepDarrenSoto about Amendment 4 on the November ball‚Ä¶|
|Democrat|RepDarrenSoto|RT @YourBarrioFL: At the #vamos4pr press conference and rally with @repdarrensoto celebrating‚Ä¶                                              |
|Democrat|RepDarrenSoto|RT @MikeWFerguson: I'm here in Haines City for a civil rights forum, which will touch on voting rights restoration for felons. Those speaki‚Ä¶|
+--------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 50 rows

## 5. Rename the 'Party' column to 'Dem_Rep'

No real reason here :) just wanted you to get practice doing this.

In [138]:
rename_column = repub_demo_df.withColumnRenamed('Party', 'Dem_Rep')
rename_column.show(5)

+--------+-------------+--------------------+
| Dem_Rep|       Handle|               Tweet|
+--------+-------------+--------------------+
|Democrat|RepDarrenSoto|Today, Senate Dem...|
|Democrat|RepDarrenSoto|RT @WinterHavenSu...|
|Democrat|RepDarrenSoto|RT @NBCLatino: .@...|
|   Other|         NULL|                NULL|
|Democrat|RepDarrenSoto|RT @NALCABPolicy:...|
+--------+-------------+--------------------+
only showing top 5 rows

## 6. Concatenate the Party and Handle columns

Silly yes... but good practice.

pyspark.sql.functions.concat_ws(sep, *cols)[source] <br>
Concatenates multiple input string columns together into a single string column, using the given separator.

In [140]:
concatenated_df = repub_demo_df.select(repub_demo_df.Party, repub_demo_df.Handle, concat_ws(' ', repub_demo_df.Party, repub_demo_df.Handle).alias("Party_Handle")).show(6, truncate=False)

+--------+-------------+----------------------+
|Party   |Handle       |Party_Handle          |
+--------+-------------+----------------------+
|Democrat|RepDarrenSoto|Democrat RepDarrenSoto|
|Democrat|RepDarrenSoto|Democrat RepDarrenSoto|
|Democrat|RepDarrenSoto|Democrat RepDarrenSoto|
|Other   |NULL         |Other                 |
|Democrat|RepDarrenSoto|Democrat RepDarrenSoto|
|Democrat|RepDarrenSoto|Democrat RepDarrenSoto|
+--------+-------------+----------------------+
only showing top 6 rows

## Challenge Question

Let's image that we want to analyze the hashtags that are used in these tweets. Can you extract all the hashtags you see?

In [141]:
from pyspark.sql.functions import regexp_extract
pattern = r"#\w+"
df_hastags = repub_demo_df.withColumn("Tweet", regexp_extract("Tweet", pattern, 0))
df_hastags.show(60, truncate=False)

+--------+-------------+------------------------+
|Party   |Handle       |Tweet                   |
+--------+-------------+------------------------+
|Democrat|RepDarrenSoto|#SaveTheInternet        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Other   |NULL         |NULL                    |
|Democrat|RepDarrenSoto|#NALCABPolicy2018       |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#NetNeutrality          |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#Orlando                |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Other   |NULL         |NULL                    |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#HFAnow                 |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#classroomwhereithappens|
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#FACT                   |
|Democrat|RepDarrenSoto|#ABetterDeal            |
|Democrat|RepDarrenSoto|#Science                |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#2020Census             |
|Democrat|RepDarrenSoto|#ghostguns              |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#APAHM                  |
|Democrat|RepDarrenSoto|#Insulin4all            |
|Democrat|RepDarrenSoto|#EmgagetheHill          |
|Democrat|RepDarrenSoto|#Emgagethehill          |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#TPS                    |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#HurricaneMaria         |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#vamos4pr               |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|#DemsAtWor              |
|Democrat|RepDarrenSoto|                        |
|Other   |NULL         |NULL                    |
|Other   |NULL         |NULL                    |
|Other   |NULL         |NULL                    |
|Other   |NULL         |NULL                    |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
|Democrat|RepDarrenSoto|                        |
+--------+-------------+------------------------+
only showing top 60 rows

# Let's create our own dataset to work with real dates

This is a dataset of patient visits from a medical office. It contains the patients first and last names, date of birth, and the dates of their first 3 visits.

In [153]:
from pyspark.sql.types import *

md_office = [('Mohammed','Alfasy','1987-4-8','2016-1-7','2017-2-3','2018-3-2') \
            ,('Marcy','Wellmaker','1986-4-8','2015-1-7','2017-1-3','2018-1-2') \
            ,('Ginny','Ginger','1986-7-10','2014-8-7','2015-2-3','2016-3-2') \
            ,('Vijay','Doberson','1988-5-2','2016-1-7','2018-2-3','2018-3-2') \
            ,('Orhan','Gelicek','1987-5-11','2016-5-7','2017-1-3','2018-9-2') \
            ,('Sarah','Jones','1956-7-6','2016-4-7','2017-8-3','2018-10-2') \
            ,('John','Johnson','2017-10-12','2018-1-2','2018-10-3','2018-3-2') ]

df = spark.createDataFrame(md_office,['first_name','last_name','dob','visit1','visit2','visit3']) # schema=final_struc

# Check to make sure it worked
df.show()
print(df.printSchema())

+----------+---------+----------+--------+---------+---------+
|first_name|last_name|       dob|  visit1|   visit2|   visit3|
+----------+---------+----------+--------+---------+---------+
|  Mohammed|   Alfasy|  1987-4-8|2016-1-7| 2017-2-3| 2018-3-2|
|     Marcy|Wellmaker|  1986-4-8|2015-1-7| 2017-1-3| 2018-1-2|
|     Ginny|   Ginger| 1986-7-10|2014-8-7| 2015-2-3| 2016-3-2|
|     Vijay| Doberson|  1988-5-2|2016-1-7| 2018-2-3| 2018-3-2|
|     Orhan|  Gelicek| 1987-5-11|2016-5-7| 2017-1-3| 2018-9-2|
|     Sarah|    Jones|  1956-7-6|2016-4-7| 2017-8-3|2018-10-2|
|      John|  Johnson|2017-10-12|2018-1-2|2018-10-3| 2018-3-2|
+----------+---------+----------+--------+---------+---------+

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- visit1: string (nullable = true)
 |-- visit2: string (nullable = true)
 |-- visit3: string (nullable = true)

None

Oh no! The dates are still stored as text... let's try converting them again and see if we have any issues this time.

In [143]:

df = df.withColumn("dob", df["dob"].cast(DateType()))\
.withColumn("visit1", df['visit1'].cast(DateType()))\
.withColumn("visit2", df['visit2'].cast(DateType()))\
.withColumn("visit3", df['visit3'].cast(DateType()))

df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- visit1: date (nullable = true)
 |-- visit2: date (nullable = true)
 |-- visit3: date (nullable = true)

## 7. Can you calculate a variable showing the length of time between patient visits?

Compare visit1 to visit2 and visit2 to visit3 for all patients and see what the average length of time is between visits. Create an alias for it as well.

In [144]:
visit_2_1 = df.select(datediff(df.visit2, df.visit1).alias('visit_2_1')).show()

+---------+
|visit_2_1|
+---------+
|      393|
|      727|
|      180|
|      758|
|      241|
|      483|
|      274|
+---------+

In [145]:
visit_3_2 = df.select(datediff(df.visit3, df.visit2).alias('visit_3_2')).show()

+---------+
|visit_3_2|
+---------+
|      392|
|      364|
|      393|
|       27|
|      607|
|      425|
|     -215|
+---------+

## 8. Can you calculate the age of each patient?

In [158]:
import pyspark.sql.functions as fn
age = fn.year(fn.current_date()) - fn.year('dob')
df.withColumn("age", age).show()

+----------+---------+----------+--------+---------+---------+---+
|first_name|last_name|       dob|  visit1|   visit2|   visit3|age|
+----------+---------+----------+--------+---------+---------+---+
|  Mohammed|   Alfasy|  1987-4-8|2016-1-7| 2017-2-3| 2018-3-2| 38|
|     Marcy|Wellmaker|  1986-4-8|2015-1-7| 2017-1-3| 2018-1-2| 39|
|     Ginny|   Ginger| 1986-7-10|2014-8-7| 2015-2-3| 2016-3-2| 39|
|     Vijay| Doberson|  1988-5-2|2016-1-7| 2018-2-3| 2018-3-2| 37|
|     Orhan|  Gelicek| 1987-5-11|2016-5-7| 2017-1-3| 2018-9-2| 38|
|     Sarah|    Jones|  1956-7-6|2016-4-7| 2017-8-3|2018-10-2| 69|
|      John|  Johnson|2017-10-12|2018-1-2|2018-10-3| 2018-3-2|  8|
+----------+---------+----------+--------+---------+---------+---+

## 9. Can you extract the month from the first visit column and call it "Month"?

In [159]:
month = df.withColumn("month", fn.month('visit1')).show()

+----------+---------+----------+--------+---------+---------+-----+
|first_name|last_name|       dob|  visit1|   visit2|   visit3|month|
+----------+---------+----------+--------+---------+---------+-----+
|  Mohammed|   Alfasy|  1987-4-8|2016-1-7| 2017-2-3| 2018-3-2|    1|
|     Marcy|Wellmaker|  1986-4-8|2015-1-7| 2017-1-3| 2018-1-2|    1|
|     Ginny|   Ginger| 1986-7-10|2014-8-7| 2015-2-3| 2016-3-2|    8|
|     Vijay| Doberson|  1988-5-2|2016-1-7| 2018-2-3| 2018-3-2|    1|
|     Orhan|  Gelicek| 1987-5-11|2016-5-7| 2017-1-3| 2018-9-2|    5|
|     Sarah|    Jones|  1956-7-6|2016-4-7| 2017-8-3|2018-10-2|    4|
|      John|  Johnson|2017-10-12|2018-1-2|2018-10-3| 2018-3-2|    1|
+----------+---------+----------+--------+---------+---------+-----+

## 10. Challenges with working with date and timestamps

Let's read in the supermarket sales dataframe attached to the lecture now and see some of the issues that can come up when working with date and timestamps values.

In [160]:
supermarket_sales = spark.read.csv('Datasets/supermarket_sales.csv', inferSchema=True, header = True)

## About this dataset

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. 

 - Attribute information
 - Invoice id: Computer generated sales slip invoice identification number
 - Branch: Branch of supercenter (3 branches are available identified by A, B and C).
 - City: Location of supercenters
 - Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
 - Gender: Gender type of customer
 - Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
 - Unit price: Price of each product in USD
 - Quantity: Number of products purchased by customer
 - Tax: 5% tax fee for customer buying
 - Total: Total price including tax
 - Date: Date of purchase (Record available from January 2019 to March 2019)
 - Time: Purchase time (10am to 9pm)
 - Payment: Payment used by customer for purchase (3 methods are available ‚Äì Cash, Credit card and Ewallet)
 - COGS: Cost of goods sold
 - Gross margin percentage: Gross margin percentage
 - Gross income: Gross income
 - Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

**Source:** https://www.kaggle.com/aungpyaeap/supermarket-sales

### View dataframe and schema as usual

In [161]:
supermarket_sales.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|2025-11-15 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|2025-11-15 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|2025-11-15 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|2025-11-15 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|2025-11-15 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|2025-11-15 18:30:00|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|Female|Electronic access...|     68.84|       6| 20.652| 433.692|2/25/2019|2025-11-15 14:36:00|    Ewallet|413.04|            4.761904762|      20.652|   5.8|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|2025-11-15 11:38:00|    Ewallet| 735.6|            4.761904762|       36.78|   8.0|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2|  3.626|  76.146|1/10/2019|2025-11-15 17:15:00|Credit card| 72.52|            4.761904762|       3.626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|  8.226| 172.746|2/20/2019|2025-11-15 13:27:00|Credit card|164.52|            4.761904762|       8.226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|  2.896|  60.816| 2/6/2019|2025-11-15 18:07:00|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4|  5.102| 107.142| 3/9/2019|2025-11-15 17:03:00|       Cash|102.04|            4.761904762|       5.102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|2025-11-15 10:25:00|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495| 2/7/2019|2025-11-15 16:48:00|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|2025-11-15 19:21:00|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6| 28.116| 590.436|1/15/2019|2025-11-15 16:19:00|       Cash|562.32|            4.761904762|      28.116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|2025-11-15 11:03:00|Credit card|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|   Yangon|       Normal|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443| 1/1/2019|2025-11-15 10:39:00|Credit card|435.66|            4.761904762|      21.783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|2025-11-15 18:00:00|Credit card|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|2025-11-15 15:30:00|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [162]:
supermarket_sales.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Tax 5%: double (nullable = true)
 |-- Total: double (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross margin percentage: double (nullable = true)
 |-- gross income: double (nullable = true)
 |-- Rating: double (nullable = true)

### Convert date field to date type

Looks like we need to convert the date field into a date type. Let's go ahead and do that..

In [163]:
from pyspark.sql.functions import to_date

supermarket_sales = supermarket_sales.withColumn(
    "Date",
    to_date("Date", "M/d/yyyy")
)

In [164]:
supermarket_sales.schema['Date'].dataType

DateType()

### How can we extract the month value from the date field?

If you had trouble converting the date field in the previous question think about a more creative solution to extract the month from that field.

In [167]:
from pyspark.sql.functions import month, col
supermarket_sales = supermarket_sales.withColumn("month", month(col('Date')))
supermarket_sales.select("Date", "month").show()

+----------+-----+
|      Date|month|
+----------+-----+
|2019-01-05|    1|
|2019-03-08|    3|
|2019-03-03|    3|
|2019-01-27|    1|
|2019-02-08|    2|
|2019-03-25|    3|
|2019-02-25|    2|
|2019-02-24|    2|
|2019-01-10|    1|
|2019-02-20|    2|
|2019-02-06|    2|
|2019-03-09|    3|
|2019-02-12|    2|
|2019-02-07|    2|
|2019-03-29|    3|
|2019-01-15|    1|
|2019-03-11|    3|
|2019-01-01|    1|
|2019-01-21|    1|
|2019-03-11|    3|
+----------+-----+
only showing top 20 rows

## 11.0 Working with Arrays

Here is a dataframe of reviews from the movie the Dark Night.

In [168]:
from pyspark.sql.functions import *

values = [(5,'Epic. This is the best movie I have EVER seen'), \
          (4,'Pretty good, but I would have liked to seen better special effects'), \
          (3,'So so. Casting could have been improved'), \
          (5,'The most EPIC movie of the year! Casting was awesome. Special effects were so intense.'), \
          (4,'Solid but I would have liked to see more of the love story'), \
          (5,'THE BOMB!!!!!!!')]
reviews = spark.createDataFrame(values,['rating', 'review_txt'])

reviews.show(6,False)

+------+--------------------------------------------------------------------------------------+
|rating|review_txt                                                                            |
+------+--------------------------------------------------------------------------------------+
|5     |Epic. This is the best movie I have EVER seen                                         |
|4     |Pretty good, but I would have liked to seen better special effects                    |
|3     |So so. Casting could have been improved                                               |
|5     |The most EPIC movie of the year! Casting was awesome. Special effects were so intense.|
|4     |Solid but I would have liked to see more of the love story                            |
|5     |THE BOMB!!!!!!!                                                                       |
+------+--------------------------------------------------------------------------------------+

## 11.1 Let's see if we can create an array off of the review text column and then derive some meaningful results from it.

**But first** we need to clean the rview_txt column to make sure we can get what we need from our analysis later on. So let's do the following:

1. Remove all punctuation
2. lower case everything
3. Remove white space (trim)
3. Then finally, split the string

In [169]:
# Remove all punctuation
from pyspark.sql.functions import regexp_replace
reviews_cleaned = reviews.withColumn("review_txt", regexp_replace(reviews.review_txt, "[^a-zA-Z\\s]", ""))
reviews_cleaned.show(truncate=False)

+------+-----------------------------------------------------------------------------------+
|rating|review_txt                                                                         |
+------+-----------------------------------------------------------------------------------+
|5     |Epic This is the best movie I have EVER seen                                       |
|4     |Pretty good but I would have liked to seen better special effects                  |
|3     |So so Casting could have been improved                                             |
|5     |The most EPIC movie of the year Casting was awesome Special effects were so intense|
|4     |Solid but I would have liked to see more of the love story                         |
|5     |THE BOMB                                                                           |
+------+-----------------------------------------------------------------------------------+

In [170]:
# lower case everything
reviews_cleaned = reviews_cleaned.withColumn("review_txt", lower(reviews_cleaned.review_txt))
reviews_cleaned.show(truncate=False)

+------+-----------------------------------------------------------------------------------+
|rating|review_txt                                                                         |
+------+-----------------------------------------------------------------------------------+
|5     |epic this is the best movie i have ever seen                                       |
|4     |pretty good but i would have liked to seen better special effects                  |
|3     |so so casting could have been improved                                             |
|5     |the most epic movie of the year casting was awesome special effects were so intense|
|4     |solid but i would have liked to see more of the love story                         |
|5     |the bomb                                                                           |
+------+-----------------------------------------------------------------------------------+

In [171]:
# Remove white space (trim)
reviews_cleaned =reviews_cleaned.withColumn('review_txt', trim(reviews_cleaned.review_txt))
reviews_cleaned.show(truncate=False)

+------+-----------------------------------------------------------------------------------+
|rating|review_txt                                                                         |
+------+-----------------------------------------------------------------------------------+
|5     |epic this is the best movie i have ever seen                                       |
|4     |pretty good but i would have liked to seen better special effects                  |
|3     |so so casting could have been improved                                             |
|5     |the most epic movie of the year casting was awesome special effects were so intense|
|4     |solid but i would have liked to see more of the love story                         |
|5     |the bomb                                                                           |
+------+-----------------------------------------------------------------------------------+

In [172]:
# Split the string
reviews_cleaned = reviews_cleaned.withColumn("array", split(reviews_cleaned.review_txt, " "))
reviews_cleaned.show()

+------+--------------------+--------------------+
|rating|          review_txt|               array|
+------+--------------------+--------------------+
|     5|epic this is the ...|[epic, this, is, ...|
|     4|pretty good but i...|[pretty, good, bu...|
|     3|so so casting cou...|[so, so, casting,...|
|     5|the most epic mov...|[the, most, epic,...|
|     4|solid but i would...|[solid, but, i, w...|
|     5|            the bomb|         [the, bomb]|
+------+--------------------+--------------------+

## 11.2 Alright now let's see if we can find which reviews contain the word 'Epic'

In [173]:
reviews.filter(lower(reviews.review_txt).contains("epic")).show(truncate=False)

+------+--------------------------------------------------------------------------------------+
|rating|review_txt                                                                            |
+------+--------------------------------------------------------------------------------------+
|5     |Epic. This is the best movie I have EVER seen                                         |
|5     |The most EPIC movie of the year! Casting was awesome. Special effects were so intense.|
+------+--------------------------------------------------------------------------------------+

In [174]:
spark.stop()

# **Part 3: Joining and Appending DataFrames in PySpark HW**

Now it's time to test your knowledge and further engrain the concepts we touched on in the lectures. Let's go ahead and get started.




**As always let's start our Spark instance.**

In [2]:

import findspark
findspark.init()

import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Part3").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/15 20:47:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Read in the database

Let cotinue working with our college courses dataframe to get some more insights and practice what we have learned!Let's read in the whole database using the loop function that we learned about in the lecture to automatically read in all the datasets from the uw-madision-courses folder (there are too many datasets to each one individually.

In [3]:
import os

path = "madison_courses/"

df_list = []
for filename in os.listdir(path):
    if filename.endswith(".csv"):
        filename_list = filename.split(".") 
        df_name = filename_list[0]
        df = spark.read.csv(path+filename,inferSchema=True,header=True)
        df.name = df_name
        df_list.append(df_name)
        exec(df_name + ' = df')
        
print("Full list of data frames found:")
print(df_list)

25/11/15 20:48:05 WARN DAGScheduler: Broadcasting large task binary with size 8.2 MiB
25/11/15 20:48:08 WARN DAGScheduler: Broadcasting large task binary with size 28.1 MiB

Full list of data frames found:
['subjects', 'subject_memberships', 'rooms', 'schedules', 'sections', 'courses', 'course_offerings', 'instructors', 'teachings', 'grade_distributions']

Now check the contents of a few of the dataframses that were read in above.

In [4]:
grade_distributions.printSchema()

root
 |-- course_offering_uuid: string (nullable = true)
 |-- section_number: integer (nullable = true)
 |-- a_count: integer (nullable = true)
 |-- ab_count: integer (nullable = true)
 |-- b_count: integer (nullable = true)
 |-- bc_count: integer (nullable = true)
 |-- c_count: integer (nullable = true)
 |-- d_count: integer (nullable = true)
 |-- f_count: integer (nullable = true)
 |-- s_count: integer (nullable = true)
 |-- u_count: integer (nullable = true)
 |-- cr_count: integer (nullable = true)
 |-- n_count: integer (nullable = true)
 |-- p_count: integer (nullable = true)
 |-- i_count: integer (nullable = true)
 |-- nw_count: integer (nullable = true)
 |-- nr_count: integer (nullable = true)
 |-- other_count: integer (nullable = true)

In [5]:
grade_distributions.limit(15).toPandas()

,course_offering_uuid,section_number,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,s_count,u_count,cr_count,n_count,p_count,i_count,nw_count,nr_count,other_count
0,344b3ebe-da7e-314c-83ed-9425269695fd,1,105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,1,158,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,ea3b717c-d66b-30dc-8b37-964d9688295f,1,139,12,2,0,3,0,0,0,0,0,0,0,0,0,0,0
3,075da420-5f49-3dd0-93df-13e3c152e1b1,1,87,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,2b4e216d-a728-3713-8c7c-19afffc6b2fd,1,70,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
5,87966a7b-f676-33d0-83d2-acdb67da6790,1,79,0,0,0,0,0,0,0,0,0,0,0,12,0,0,0
6,ff511882-5eab-3e7b-a89f-8fbfd1906127,1,114,3,1,0,0,0,0,0,0,0,0,0,3,0,0,0
7,b3e26604-fe6e-30df-bc91-b5fa57717a7e,1,105,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
8,e100d196-5e82-32e4-80e9-ac45c07a498c,1,107,3,1,0,0,0,0,0,0,0,0,0,2,0,0,0
9,76b9c458-d3c2-38c4-951f-69b6900bd7fe,1,129,8,2,0,1,1,0,0,0,0,0,0,3,0,0,0
10,2cd95315-cc90-33d6-9670-6d4eaddb7104,1,135,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0
11,b729bdbf-c272-3d36-ba1b-b428217b037b,1,111,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0
12,c94b0026-46e5-3183-9e02-f0d8616b020e,1,114,3,1,0,2,2,0,0,0,0,0,0,1,0,0,0
13,e6fe4acb-9375-3b46-9d16-6d6ae716d80a,1,118,6,2,0,1,1,1,0,0,0,0,0,15,0,0,0
14,73eb2c88-a7c0-36db-872f-b2fc0c1c956d,1,137,0,4,0,0,0,0,0,0,0,0,0,11,0,0,0

In [6]:
courses.printSchema()

root
 |-- uuid: string (nullable = true)
 |-- name: string (nullable = true)
 |-- number: integer (nullable = true)

In [7]:
courses.limit(15).toPandas()

,uuid,name,number
0,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,Cooperative Education Program,1
1,c070a84f-648f-351d-9499-5d0e30ad02cc,Cooperative Education/Co-op in Life Sciences C...,1
2,e6b4b7ae-0e0b-3aa5-9d77-7fcd90c9cfa3,Cooperative Education Program,1
3,8f63bde1-ff7f-3fe7-9901-862908bf134c,Workshop in Dance Activity,1
4,f3541888-584a-3923-9ce7-6341ff3d84a1,Cooperative Education/Co-op in Agricultural & ...,1
5,d07193c1-551e-3c4d-82cd-7059fc2cd512,Ballroom Dance I,2
6,eb1a8a08-a675-3c45-aa49-23a6589fed56,Fundamentals-Flute,7
7,57540351-0e4a-3528-9ac0-84e8f72b41bc,Contemporary Dance I,11
8,0422e04f-96d2-3b9f-ba5e-4ed3a43173f6,Fundamentals: Single Reeds,14
9,3e2fe18a-32f9-3e6f-a627-f77481eb84d9,Fundamentals-Low Brass,24
10,e26a2ec7-13ee-346b-a89f-c71e34c0a1e1,Fundamentals-Percussion,27
11,34188bed-84e7-318b-9d5f-34b4c33e7d0e,Fundamentals-High Strings,32
12,a4f57833-e0d4-3e68-ab57-15370781370e,Fundamentals-Low Strings,36
13,ff31520a-b86c-308e-a9d1-302ec27c91ee,Wind Ensemble,40
14,6b28c9cc-9542-37c4-aa81-32c213581086,Concert Band,41

In [8]:
course_offerings.limit(15).toPandas()

,uuid,course_uuid,term_code,name
0,344b3ebe-da7e-314c-83ed-9425269695fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog
1,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1082,Cooperative Education Prog
2,ea3b717c-d66b-30dc-8b37-964d9688295f,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1172,Cooperative Education Prog
3,075da420-5f49-3dd0-93df-13e3c152e1b1,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1114,Cooperative Education Prog
4,2b4e216d-a728-3713-8c7c-19afffc6b2fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1104,Cooperative Education Prog
5,87966a7b-f676-33d0-83d2-acdb67da6790,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1112,Cooperative Education Prog
6,ff511882-5eab-3e7b-a89f-8fbfd1906127,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1134,Cooperative Education Prog
7,b3e26604-fe6e-30df-bc91-b5fa57717a7e,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1084,Cooperative Education Prog
8,e100d196-5e82-32e4-80e9-ac45c07a498c,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1154,Cooperative Education Prog
9,76b9c458-d3c2-38c4-951f-69b6900bd7fe,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1162,Cooperative Education Prog
10,2cd95315-cc90-33d6-9670-6d4eaddb7104,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1132,Cooperative Education Prog
11,b729bdbf-c272-3d36-ba1b-b428217b037b,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1122,Cooperative Education Prog
12,c94b0026-46e5-3183-9e02-f0d8616b020e,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1142,Cooperative Education Prog
13,e6fe4acb-9375-3b46-9d16-6d6ae716d80a,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1152,Cooperative Education Prog
14,73eb2c88-a7c0-36db-872f-b2fc0c1c956d,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1144,Cooperative Education Prog

In [9]:
rooms.printSchema()

root
 |-- uuid: string (nullable = true)
 |-- facility_code: string (nullable = true)
 |-- room_code: string (nullable = true)

In [10]:
rooms.limit(15).toPandas()

                                    uuid facility_code room_code
0   04368a56-c959-3e4b-8b3d-f4cc3538fea5    OFF CAMPUS      null
1   2cc50da3-ef0e-3572-a557-ca44930a0688          0032      0249
2   ebbf62b4-2ac3-356b-b0fa-7897f4446a17          0032      B101
3   ed828265-475b-31b4-b9a8-daec2a600449          0032      0549
4   b277dc8e-bab1-3a12-bc17-48d4a364d297          0032      0349
5   bab1dd92-c641-3d28-abd5-50c9573c480b          0032      0510
6   9759cb5f-a7d3-3d0c-b8b3-03910bd0153e          0469      2441
7   6af80b0b-b3e3-370a-925f-829869f007bc          0469      4411
8   50322d30-dd8f-3c65-9a75-78c5ff29d62c          0469      2511
9   b7211db3-303f-3605-bead-237e1f663932          0469      1341
10  fcd8990c-8a4d-36e2-b91f-70838750da26          0469      2401
11  350c7321-2d4c-3485-8e0c-8005a6f5ac3d          0469      2411
12  f4781736-d27f-3902-9095-5b856acb6db3          0469      2340
13  2285075b-51f6-394d-8ba8-ef068e004edc          0469      1321
14  43a08e18-1ab4-397d-83c0-d0e9a0f2588e          0469      1351

In [11]:
course_offerings.printSchema()

root
 |-- uuid: string (nullable = true)
 |-- course_uuid: string (nullable = true)
 |-- term_code: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
course_offerings.limit(15).toPandas()

,uuid,course_uuid,term_code,name
0,344b3ebe-da7e-314c-83ed-9425269695fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1092,Cooperative Education Prog
1,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1082,Cooperative Education Prog
2,ea3b717c-d66b-30dc-8b37-964d9688295f,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1172,Cooperative Education Prog
3,075da420-5f49-3dd0-93df-13e3c152e1b1,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1114,Cooperative Education Prog
4,2b4e216d-a728-3713-8c7c-19afffc6b2fd,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1104,Cooperative Education Prog
5,87966a7b-f676-33d0-83d2-acdb67da6790,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1112,Cooperative Education Prog
6,ff511882-5eab-3e7b-a89f-8fbfd1906127,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1134,Cooperative Education Prog
7,b3e26604-fe6e-30df-bc91-b5fa57717a7e,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1084,Cooperative Education Prog
8,e100d196-5e82-32e4-80e9-ac45c07a498c,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1154,Cooperative Education Prog
9,76b9c458-d3c2-38c4-951f-69b6900bd7fe,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1162,Cooperative Education Prog
10,2cd95315-cc90-33d6-9670-6d4eaddb7104,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1132,Cooperative Education Prog
11,b729bdbf-c272-3d36-ba1b-b428217b037b,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1122,Cooperative Education Prog
12,c94b0026-46e5-3183-9e02-f0d8616b020e,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1142,Cooperative Education Prog
13,e6fe4acb-9375-3b46-9d16-6d6ae716d80a,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1152,Cooperative Education Prog
14,73eb2c88-a7c0-36db-872f-b2fc0c1c956d,a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de,1144,Cooperative Education Prog

## Recap: About this database

You will notice that there are several more tables in the uw-madision-courses folder than there are read in above. This so that you will have a chance to practice your own custom joins and learn about the relationships between a real database work. Sometimes we don't know how they are related and we need to figure it out! I'll save that for the HW :) 

Here is a look at some of the important variables we can use to join our tables:

 - course_offerings: uuid, course_uuid, term_code, name
 - instructors: id, name
 - schedules: uuid
 - sections: uuid, course_offering_uuid,room_uuid, schedule_uuid
 - teachings: instructor_id, section_uuid
 - courses: uuid
 - grade_distributions: course_offering_uuid,section_number
 - rooms: uuid, facility_code, room_code
 - subjects: code
 - subject_memberships: subject_code, course_offering_uuid
 
 **Source:** https://www.kaggle.com/Madgrades/uw-madison-courses
 
So alright, let's use this information to discover some insights from this data!

## 1a. Can you assign the room numbers to each section of each course?

Show only the rooms uuid, facility code, room number, term code and the name of the course from the course_offerings table.

In [14]:
first_join = sections.join(course_offerings, sections.course_offering_uuid == course_offerings.uuid, how="inner").select(['term_code', 'name', 'room_uuid'])
first_join.show()

+---------+--------------------+--------------------+
|term_code|                name|           room_uuid|
+---------+--------------------+--------------------+
|     1092|Cooperative Educa...|                null|
|     1082|Cooperative Educa...|                null|
|     1172|Cooperative Educa...|04368a56-c959-3e4...|
|     1172|Cooperative Educa...|                null|
|     1172|Cooperative Educa...|                null|
|     1172|Cooperative Educa...|04368a56-c959-3e4...|
|     1114|Cooperative Educa...|04368a56-c959-3e4...|
|     1114|Cooperative Educa...|                null|
|     1104|Cooperative Educa...|                null|
|     1104|Cooperative Educa...|04368a56-c959-3e4...|
|     1112|Cooperative Educa...|                null|
|     1134|Cooperative Educa...|04368a56-c959-3e4...|
|     1134|Cooperative Educa...|04368a56-c959-3e4...|
|     1134|Cooperative Educa...|                null|
|     1084|Cooperative Educa...|                null|
|     1084|Cooperative Educa...|04368a56-c959-3e4...|
|     1154|Cooperative Educa...|                null|
|     1154|Cooperative Educa...|04368a56-c959-3e4...|
|     1154|Cooperative Educa...|04368a56-c959-3e4...|
|     1154|Cooperative Educa...|                null|
+---------+--------------------+--------------------+
only showing top 20 rows

In [15]:
second_join = first_join.join(rooms, first_join.room_uuid == rooms.uuid, how="inner").select(['room_uuid', 'facility_code','room_code','term_code', 'name',]).dropDuplicates()
second_join.show(30,truncate=False)

+------------------------------------+-------------+---------+---------+------------------------------+
|room_uuid                           |facility_code|room_code|term_code|name                          |
+------------------------------------+-------------+---------+---------+------------------------------+
|85d48cdb-8a44-35ec-a5b6-fdd920aef550|0545         |4004     |1094     |Intro to Speech Composition   |
|eda7ac38-2d95-3114-b675-c49966779d6d|0545         |4046     |1102     |Intro to Speech Composition   |
|026d4b38-9cc3-361d-af8d-ef162119f51e|0140         |2170     |1162     |Intro Financial Accounting    |
|913b30ca-3e8f-393b-bec9-6683abc6beec|0046         |5106     |1084     |Intro to Cultures of Asia     |
|babe81ae-64cc-3b30-b6ee-cb0f21c79c88|0070         |0125     |1094     |General Microbiology          |
|34d2c6bf-a685-3154-810c-f35db51bd417|0469         |3650     |1172     |Principles-Microeconomics     |
|5acfb8fa-8860-34bf-b551-52c7730f0a7e|0046         |6314     |1134     |Principles-Microeconomics     |
|ce8bbeed-5bf1-3044-b7f1-3310d5d99e58|0482         |0378     |1082     |Principles-Microeconomics     |
|643ec16b-ffa8-3402-8aa8-feeaa068565e|0046         |6101     |1094     |Principles-Microeconomics     |
|21602659-e0a6-390b-9b1a-23e9d696d746|0050         |0052     |1094     |Principles-Microeconomics     |
|050bf5dc-0068-3a37-b5fc-2c27c1992cc4|0048         |B203     |1092     |Human Language                |
|effa4252-8506-386c-82f9-f4530396abd2|0046         |6210     |1092     |Human Language                |
|38abcc33-c69a-373b-872b-ad42d866fa42|0482         |0215     |1082     |Human Language                |
|7426f3f3-5811-33a4-ad7c-ffac37ff246e|0056         |0214     |1114     |Human Language                |
|afe4870f-fce8-316e-b6b6-6dec739f8cdd|0482         |0475     |1074     |Human Language                |
|a54eeeb7-baed-35b4-ab83-c58c7c4523a3|0050         |0053     |1132     |Animal Biology                |
|ad9fcc3c-069c-397b-9173-2a2f0d5399d3|0402         |0119     |1112     |Animal Biology                |
|c99bd3a7-b8f9-3da5-b071-3e7bafae3398|0402         |0553     |1072     |Animal Biology                |
|050989c6-d81a-34ad-bf84-7f635bf49398|0482         |0382     |1152     |First Semester Norwegian      |
|0d10d595-ea84-3e4c-a591-11ecadb78eab|0400         |0234     |1074     |Introduction to Philosophy    |
|5b3667e7-369b-3677-8340-b7220d009f2c|0400         |0434     |1084     |Introduction to Philosophy    |
|e9f73325-cab9-3cf9-a2fe-7c954a0c80b2|0469         |2451     |1112     |The Musical Experience        |
|050989c6-d81a-34ad-bf84-7f635bf49398|0482         |0382     |1072     |First Semester French         |
|61449143-1ddb-3478-b0ab-f88c93cdf4f2|0482         |0587     |1144     |First Semester French         |
|fce290a4-ed7d-30cf-ab0a-e4c64ecfce09|0469         |2125     |1094     |Amer Hist to Civil War Era    |
|6b7d01f9-d072-3de9-a508-66ab5c7d0741|0545         |4041     |1112     |Amer Hist to Civil War Era    |
|2865d1c4-3b34-3a05-a561-ac682349b30c|0046         |6322     |1152     |Intro to International Studies|
|a4436f44-ffe7-391a-9da5-c62fe309cfdf|0482         |0205     |1072     |First Semester Italian        |
|60d0fe52-9c1d-3696-910a-5473eb79c1b4|0046         |5206     |1102     |Archaeology & Prehist World   |
|de955b71-9e71-3e98-b321-2ae35dad4d80|0482         |0223     |1144     |Second Semester French        |
+------------------------------------+-------------+---------+---------+------------------------------+
only showing top 30 rows

## 1b. Now show same output as above but for only facility number 0469 (facility_code)

In [16]:
only_facility = second_join.filter(second_join.facility_code == "0469")
only_facility.show(30, truncate=False)

+------------------------------------+-------------+---------+---------+------------------------------+
|room_uuid                           |facility_code|room_code|term_code|name                          |
+------------------------------------+-------------+---------+---------+------------------------------+
|34d2c6bf-a685-3154-810c-f35db51bd417|0469         |3650     |1172     |Principles-Microeconomics     |
|e9f73325-cab9-3cf9-a2fe-7c954a0c80b2|0469         |2451     |1112     |The Musical Experience        |
|fce290a4-ed7d-30cf-ab0a-e4c64ecfce09|0469         |2125     |1094     |Amer Hist to Civil War Era    |
|d90fd659-4ffa-3536-87b1-381855199a0f|0469         |2611     |1092     |Amer Hist-Civil War-Present   |
|d90fd659-4ffa-3536-87b1-381855199a0f|0469         |2611     |1104     |The Symphony                  |
|00593bf2-b562-3482-9bb3-e2b5e7e00a16|0469         |1101     |1082     |Foundations of Contemp Art    |
|2da69d83-787a-3b03-a82b-133026765ef1|0469         |2251     |1182     |Acad Reading and Vocab Skills |
|da446c18-f321-3dc7-809b-c8fdc0ab3d78|0469         |2131     |1104     |Modern Europe 1500-1815       |
|350c7321-2d4c-3485-8e0c-8005a6f5ac3d|0469         |2411     |1102     |Musica Practica 1             |
|9a15c09e-57d8-3658-ae72-aae5ffdef108|0469         |2637     |1182     |Myth and Literature           |
|0fabcc36-e3c1-32c3-99a9-c7c6ae53e992|0469         |1221     |1132     |Black Music&Am Cultrl Hist    |
|c731d9db-3bc4-3436-a5fd-7954098d3193|0469         |2619     |1162     |Asian Am Hist:Movmnt&Dislocatn|
|0fabcc36-e3c1-32c3-99a9-c7c6ae53e992|0469         |1221     |1182     |Calc with Algebra & Trig I    |
|78453f15-be53-3168-a90d-47e0da0a4046|0469         |2211     |1134     |The Historian's Craft         |
|b7211db3-303f-3605-bead-237e1f663932|0469         |1341     |1094     |Concert Band                  |
|ec82b0ac-f6c3-3499-9202-b7d10b4eb11b|0469         |2631     |1152     |Intro to College Composition  |
|0fabcc36-e3c1-32c3-99a9-c7c6ae53e992|0469         |1221     |1104     |Introduction to Art           |
|c731d9db-3bc4-3436-a5fd-7954098d3193|0469         |2619     |1102     |Introduction to Philosophy    |
|53f46826-6db2-326c-b3a3-00d01f86300f|0469         |2653     |1162     |Amer Hist-Civil War-Present   |
|350c7321-2d4c-3485-8e0c-8005a6f5ac3d|0469         |2411     |1164     |Intro-Mus Cult of the World   |
|34d2c6bf-a685-3154-810c-f35db51bd417|0469         |3650     |1122     |Intro-Internatl Relations     |
|92c7d363-5605-3323-a6cc-2aa705f21342|0469         |2101     |1082     |Human Dev: Ed Effectiveness   |
|1086dddd-6b2d-34da-a2b6-3a35a4cd856a|0469         |2650     |1142     |Modern Europe 1500-1815       |
|fce290a4-ed7d-30cf-ab0a-e4c64ecfce09|0469         |2125     |1122     |The Information Society       |
|b7211db3-303f-3605-bead-237e1f663932|0469         |1341     |1164     |Concert Band                  |
|2285075b-51f6-394d-8ba8-ef068e004edc|0469         |1321     |1074     |University Band               |
|43a08e18-1ab4-397d-83c0-d0e9a0f2588e|0469         |1351     |1104     |Concert Choir                 |
|b7211db3-303f-3605-bead-237e1f663932|0469         |1341     |1142     |All-Univ String Orchestra     |
|763813ce-ff70-3c69-8c78-f2a34fb20402|0469         |2521     |1102     |Intro-Mus Cult of the World   |
|2b57b421-6c9f-3d88-9299-21b41c693446|0469         |2261     |1174     |Academic Writing II           |
+------------------------------------+-------------+---------+---------+------------------------------+
only showing top 30 rows

## 2. Count how many sections are offered for each subject for each facility

*Note: this will involve a groupby*

In [17]:
second_join.groupBy('facility_code').count().show()

+-------------+-----+
|facility_code|count|
+-------------+-----+
|         0469| 2671|
|         0452|    4|
|         0047|  863|
|         0407|  146|
|         0545|  988|
|         0153|   16|
|         0031|   72|
|         0140|  535|
|         0430|    3|
|         0080|   15|
|         0021|   13|
|         0060|   50|
|         0032|  213|
|         0576|    2|
|         0082|   22|
|         0520|   23|
|         0503|    4|
|         0084|   52|
|         0055|  566|
|         0482| 2644|
+-------------+-----+
only showing top 20 rows

## 3. What are the hardest classes?

Let's see if we can figure out which classes are the hardest by seeing how many students failed. Note that you will first need to aggregate the grades table by the course uuid to include all sections. Show the name of the course as well that you will need to get from the course_offering table.

In [19]:
from pyspark.sql.functions import col, sum, desc

course_failures = grade_distributions.groupBy('course_offering_uuid').agg(

    sum(col('f_count')).alias('total_failures'))

hardest_classes = course_failures.join(
    course_offerings,
    course_failures.course_offering_uuid == course_offerings.uuid,
    how='inner').select(course_offerings['name'].alias('course_name'),
    col('total_failures'))

hardest_classes.orderBy(desc('total_failures')).show(30, truncate=False)

+----------------------------+--------------+
|course_name                 |total_failures|
+----------------------------+--------------+
|Calc--Functns of Variables  |72            |
|Animal Biology              |70            |
|Calculus&Analytic Geometry  |67            |
|Calculus&Analytic Geometry 1|64            |
|Calculus&Analytic Geometry  |63            |
|Calculus&Analytic Geometry  |59            |
|Calculus&Analytic Geometry  |58            |
|Calculus&Analytic Geometry 1|57            |
|Animal Biology              |56            |
|Animal Biology              |54            |
|Animal Biology              |53            |
|Calculus&Analytic Geometry  |53            |
|Animal Biology              |52            |
|Calculus&Analytic Geometry  |52            |
|Intro Organic Chemistry     |52            |
|Intro Organic Chemistry     |51            |
|Calculus                    |50            |
|Calculus&Analytic Geometry  |49            |
|Intro Organic Chemistry     |49            |
|Intro Organic Chemistry     |49            |
|Calculus&Analytic Geometry  |48            |
|Calculus&Analytic Geometry  |48            |
|Calc--Functns of Variables  |48            |
|Linear Alg & Diff Equations |48            |
|Animal Biology              |47            |
|Intro Organic Chemistry     |47            |
|Calculus&Analytic Geometry  |46            |
|General Chemistry           |45            |
|Calculus&Analytic Geometry  |45            |
|Calculus&Analytic Geometry 2|45            |
+----------------------------+--------------+
only showing top 30 rows

## Challenge Question: Automating data entry errors

We see in the dataframe below that there are several typos of various animal names. If this was a large database of several millions of records, correcting these errors would be way too labor intensive. How can we automate correcting these errors?

*Hint: Leven...*

In [192]:
values = [('Monkey',10),('Monkay',36),('Mnky',123), \
          ('Elephant',48),('Elefant',16),('Ellafant',1), \
          ('Hippopotamus',48),('Hipopotamus',16),('Hippo',1)]
zoo = spark.createDataFrame(values,['Animal','age'])
zoo.show()

+------------+---+
|      Animal|age|
+------------+---+
|      Monkey| 10|
|      Monkay| 36|
|        Mnky|123|
|    Elephant| 48|
|     Elefant| 16|
|    Ellafant|  1|
|Hippopotamus| 48|
| Hipopotamus| 16|
|       Hippo|  1|
+------------+---+

In [21]:
spark.stop()